/* LearnPage.css */
.LearnPage {
    text-align: center;
  }
  .LearnPage-header {
    background-color: #ffffff;
    /* min-height: 100vh; */
    /* display: flex; */
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */
    font-size: calc(10px + 2vmin);
    color: black;
  }
  
  .content-container {
    font-family: 'Segoe UI', sans-serif;
    padding-top: 5rem;
    padding-bottom: 1rem;
  }
  
  .content-row {
    margin-left: 0;
    margin-right: 0;
  }
  
  .rounded-tabs .nav-link {
    border-radius: 20px;
    margin: 0 5px;
  }
  
  .rounded-tabs .nav-link.active {
    background-color: #007BFF;
    color: white;
  }