.mainPageAnimation {
    background-color: white;
    color: rgb(115, 54, 150);
    height: 100vh;
    overflow: hidden;
    position: relative;
    font-family: 'Noto Sans KR';
  }
  
  .full-height {
    height: 100%;
  }
  
  .title {
    font-size: 3rem;
    margin-bottom: 1rem;
    animation: fadeIn 2s ease-in-out;
  }
  
  .subtitle {
    font-size: 1.5rem;
    animation: fadeIn 2s ease-in-out 1s;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .mainPageAnimation-container {
    background-color: #f8f9fa;
  }
  
  .full-height {
    height: 100vh;
  }
  
  .half-height {
    height: 50vh;
  }
  